<div id="left-col">
  <div id="nav">
    <ul>
      <li><a id="index" href="/">Home</a></li>
      <li><a id="accounts" href="/Accounts.html">Accounts</a></li>
      <li><a id="challenges" href="/Challenges.html">Challenges</a></li>
      <li><a id="public-voting" href="/Public-voting.html">Public voting</a></li>
      <li><a id="submissions" href="/Submissions.html">Submissions</a></li>
      <li><a id="managing-your-challenge" href="/Managing-your-challenge.html">Managing your challenge</a></li>
      <li><a id="challenge-creation" href="/Challenge-creation.html">Challenge creation</a></li>
    </ul>
  </div>

  {% if page.title != "Help Center" %}
    <div id="contact">
      <h3>Contact Us</h3>
      <p>Still can't find what you're looking for? We'd be glad to help! <a href="mailto:support@challengepost.com" target="_blank">Contact us</a> and we'll be in touch shortly.</p>
    </div>
  {% endif %}
</div>

